.center {
  text-align: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar li:not(:first-of-type) {
  margin-left: 10px;
}

.products {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 0;
}

.product-card {
  list-style-type: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: arial;
}

.product-color {
  color: grey;
  font-size: 22px;
}